In [1]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Files to load
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

In [5]:
# Read the city and ride data files and store in pandas DataFrame.
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

In [22]:
# Get the columns and the rows that are not null.
print("count: \n", city_data_df.count(),  "\n")

# Get the columns and the rows that are not null.
print("not null: \n", city_data_df.isnull().sum(),  "\n")

# Get the data types of each column.
print("dtypes: \n", city_data_df.dtypes,  "\n")

count:
 city            120
driver_count    120
type            120
dtype: int64

not null:
 city            0
driver_count    0
type            0
dtype: int64

dtypes:
 city            object
driver_count     int64
type            object
dtype: object

In [25]:
# Get the unique values of the type of city.
print(city_data_df["type"].unique())
# Get the number of data points from the Urban cities.
print("urban:", sum(city_data_df["type"]=="Urban"))
print("suburban:", sum(city_data_df["type"]=="Suburban"))
print("rural:", sum(city_data_df["type"]=="Rural"))

['Urban' 'Suburban' 'Rural']
urban: 66
suburban: 36
rural: 18

In [26]:
# Get the columns and the rows that are not null.
print("count: \n", ride_data_df.count(),  "\n")

# Get the columns and the rows that are not null.
print("not null: \n", ride_data_df.isnull().sum(),  "\n")

# Get the data types of each column.
print("dtypes: \n", ride_data_df.dtypes,  "\n")

count:
 city       2375
date       2375
fare       2375
ride_id    2375
dtype: int64

not null:
 city       0
date       0
fare       0
ride_id    0
dtype: int64

dtypes:
 city        object
date        object
fare       float64
ride_id      int64
dtype: object

In [27]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the DataFrame
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban